<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login details</title>
</head>
<body style="font-family: 'Roboto', sans-serif; margin: 0">
<header style="border-bottom: .0625rem solid #e0e0e0">
    <img style="height: 40px; padding: 10px 16px" th:src="|cid:mainLogo|"/>
</header>
<div style="border: solid 2px #e0e0e0;
            border-radius: 7px;
            padding: 3px;
            width: 60px;
            margin: 30px auto 5px auto;
            text-align: center">
    <img style="height: 50px" th:src="|cid:avatar|">
</div>
<div style="opacity: 0.7; text-align: center" th:text="${firstName} + ' ' + ${secondName}"></div>
<h3 style="text-align: center; margin: 25px 0 0 0">Login details</h3>
<div>
    <p style="border: solid 3px #e0e0e0;
            border-radius: 7px;
            padding: 8px;
            width: 50%;
            margin: 5px auto;
            text-align: center" th:text="'Email: ' + ${email}"></p>
    <p style="border: solid 3px #e0e0e0;
            border-radius: 7px;
            padding: 8px;
            width: 50%;
            margin: 5px auto;
            text-align: center" th:text="'Password: ' + ${password}"></p>
</div>
</body>
</html>

